
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>solicitudes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<div class="fixed-bottom"></div>
<nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" href="principal.html">Proceso de visitas y conferencias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    <a class="nav-link" href="solicitudes.html">Solicitudes</a>
                  </li>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#solicitudModal">
        Crear solicitud
      </button>



                  
</div>
</nav>
</div>

<body ng-app="utzac_vc" ng-controller="api" ng-init="cargarSolicitudes()" style="background-color:gray;">

    <table class="table-dark table-bordered table-responsive">
        <thead class="table-bordered">
            <tr>
                <th>Visita/Conferencia</th>
                <th>Fecha de realización de solicitud</th>
                <th>Carrera</th>
                <th>Grupo</th>
                <th>Número de alumnos</th>
                <th>Profesor solicitante</th>
                <th>Materia</th>
                <th>Nombre de la empresa</th>
                <th>Domicilio de la empresa</th>
                <th>Teléfono de la empresa</th>
                <th>Fecha de actividad</th>
                <th>Objetivos generales</th>
                <th>Objetivos específicos</th>
                <th>Asesor respondable</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead> 
        <tbody>
            <tr ng-repeat=" solicitud in solicituds | filter:buscar">
                <td>{{solicitud.visita_conferencia}}</td>
                <td>{{solicitud.fecha_solicitud}}</td>
                <td>{{solicitud.carrera}}</td>
                <td>{{solicitud.grupo}}</td>
                <td>{{solicitud.num_alumnos}}</td>
                <td>{{solicitud.prof_solicitante}}</td>
                <td>{{solicitud.materia}}</td>
                <td>{{solicitud.nom_empresa}}</td>
                <td>{{solicitud.domicilio}}</td>
                <td>{{solicitud.telefono}}</td>
                <td>{{solicitud.fecha_act}}</td>
                <td>{{solicitud.objetivos_g}}</td>
                <td>{{solicitud.objetivos_e}}</td>
                <td>{{solicitud.asesor_r}}</td>
                <td>{{solicitud.estado}}</td>


                <td>
                    <button class="btn btn-dark" type="button" ng-click="borrar(solicitud.id,$index)"><i class="fas fa-trash-alt"></i></button>
                    <button class="btn btn-light" type="button" ng-click="solicitudModal"><i class="fas fa-pen-square"></i></i></button>
                </td>
            </tr>
        </tbody>
      </tfoot>
    </table>

    
        <!-- Modal Solicitud-->
  <div class="modal fade" id="solicitudModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Crear solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <label for="inputState">Solicitud</label>
          <select id="inputState" class="form-control" ng-model="nuevosDatos.visita_conferencia">
            <option selected>Visita</option>
            <option>Conferencia</option>
          </select>
        </form>
          <div class="form-group">
            <label>Fecha de Solicitud</label>
            <input ng-model="nuevosDatos.fecha_solicitud" type="date" id="date" class="form-control"
              placeholder="Escribe la fecha de realización de solicitud">
          </div>
          <div class="modal-body">
            <form>
              <label for="inputState">Selecciona la carreara</label>
              <select id="inputState" class="form-control" ng-model="nuevosDatos.carrera">
                <option>Mantenimiento</option>
                <option>Industrial</option>
                <option>Minas</option>
                <option>Mecatrónica</option>
                <option>Energías Renovables</option>
                <option selected>TIC</option>
                <option>Desarrollo de Negocios</option>
              </select>
            </form>
              <div class="form-group">
                <label>Grupo</label>
                <input ng-model="nuevosDatos.grupo" type="text" class="form-control" placeholder="Escribe el grupo">
              </div>
              <div class="form-group">
                <label>Número de alumnos</label>
                <input ng-model="nuevosDatos.num_alumnos" type="text" class="form-control"
                  placeholder="Escribe el número de alumnos que asisitirán">
              </div>

              <div class="form-group">
                <label>Profesor Solicitante</label>
                <input ng-model="nuevosDatos.prof_solicitante" type="text" class="form-control"
                  placeholder="Escibe el nombre del docente que solicita">
              </div>
              <div class="form-group">
                <label>Materia</label>
                <input ng-model="nuevosDatos.materia" type="text" class="form-control"
                  placeholder="Escribe la materia">
              </div>
              <div class="form-group">
                <label>Nombre de la empresa</label>
                <input ng-model="nuevosDatos.nom_empresa" type="text" class="form-control"
                  placeholder="Escribe el nombre de la empresa a visitar">
              </div>
              <div class="form-group">
                <label>Domicilio</label>
                <input ng-model="nuevosDatos.domicilio" type="text" class="form-control"
                  placeholder="Escribe el domicilio de la empresa">
              </div>
              <div class="form-group">
                <label>Teléfono</label>
                <input ng-model="nuevosDatos.telefono" type="text" class="form-control"
                  placeholder="Escribe el teléfono de la empresa">
              </div>
              <div class="form-group">
                <label>Fecha de actividad</label>
                <input ng-model="nuevosDatos.fecha_act" type="date" id="date" class="form-control"
                  placeholder="Escribe la fecha en que se realizará la actividad">
              </div>
              <div class="form-group">
                <label>Objetivos generales</label>
                <input ng-model="nuevosDatos.objetivos_g" type="text" class="form-control"
                  placeholder="Escribe los objetivos generales">
              </div>
              <div class="form-group">
                <label>Objetivos específicos</label>
                <input ng-model="nuevosDatos.objetivos_e" type="text" class="form-control"
                  placeholder="Escribe los objetivos específicos">
              </div>
              <div class="form-group">
                <label>Asesor responsable</label>
                <input ng-model="nuevosDatos.asesor_r" type="text" class="form-control"
                  placeholder="Escribe el asesor responsable">
              </div>
              <div class="modal-body">
                <form>
                  <label for="inputState">Selecciona tu status</label>
                  <select id="inputState" class="form-control" ng-model="nuevosDatos.estado">
                    <option>En petición</option>
                    
                  </select>
                </form>
              </div>

              <button type="submit" class="btn btn-primary" ng-click="CrearSolicitud(nuevosDatos)">Guardar
              </button>
              
    
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancelar
              </button>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!--Fin del modal-->


    <!-- Modal Actualizar Solicitud-->
    <div class="modal fade" id="solicitudModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Crear solicitud
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                      <div class="form-group">
                              <label>Usuario</label>
                              <input ng-model="nuevoDatos.usuario" type="text" class="form-control" placeholder="Escribe tu nombre">
                          </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input ng-model="nuevoDatos.fecha" type="text" class="form-control" placeholder="Escribe la fecha de realización de solicitud">
                    </div>
                    <div class="form-group">                        <label>Empresa a visitar</label>
                      <input ng-model="nuevoDatos.fecha" type="text" class="form-control" placeholder="Select">
                  </div>
  
                    <div class="form-group">
                        <label>Tipo de solicitud</label>
                        <input ng-model="nuevoDatos.tipo_solicitud" type="text" class="form-control" placeholder="Select">
                    </div>
                    <div class="form-group">
                        <label>Materia</label>
                        <input ng-model="nuevoDatos.nmateria" type="text" class="form-control" placeholder="Escribe la materia">
                    </div>
                    <div class="form-group">
                       <label>Fecha de visita o conferencia</label>
                       <input ng-model="nuevoDatos.solicitud" type="text" class="form-control" placeholder="Escibe la fecha para la visita o conferencia">
                   </div>
                   <div class="form-group">
                      <label>Objetivo general</label>
                      <input ng-model="nuevoDatos.objetivo_general" type="text" class="form-control" placeholder="Escibe el objetivo general">
                  </div>
                  <div class="form-group">
                      <label>Objetivo específico</label>
                      <input ng-model="nuevoDatos.objetivo_especifico" type="text" class="form-control" placeholder="Escibe el objetivo específico">
                  </div>
                    
                    <button type="submit" class="btn btn-primary"
                        ng-click="CrearSolicitud(nuevoDatos)">Guardar
                    </button><button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancelar
                        </button>
                </form>
            </div>
        </div>
    </div>
  </div>
  </div>
    
    
        <script src="./js/jquery-3.3.1.min.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/angular.min.js"></script>
        <script src="./js/app.js"></script>

    </body>
    

    <div class="sticky-top">
    <div class="card text-center p-3 mb-2 bg-dark text-white">
        <div class="card-header">
          UTZAC
        </div>
        <div class="card-body">
          <h5 class="card-title">VISITAS Y CONFERENCIAS</h5>
          <p class="card-text">Contáctenos</p>
          <p class="card-text"><i class="fas fa-map-marked-alt"></i> Km 5, Carretera Zacatecas, 98601 Cuauhtemoc, Zac.</p>
          <p class="card-text"><i class="fas fa-phone-volume"></i> 01 492 927 6180</p>
          <a href="https://es-la.facebook.com/utzac/" class="btn btn-dark"><img
              src="https://img.icons8.com/ios/50/000000/facebook-filled.png"></a>
          <a href="http://www.utzac.edu.mx/" class="btn btn-dark">UTZAC</a>
          <a href="https://www.instagram.com/utzacmx/" class="btn btn-dark"><img
              src="https://img.icons8.com/ios/50/000000/instagram-new-filled.png"></a>
    
    
    </div>
        </div>
    
      </div>

    </html>
    
    